*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-wrap: wrap;
}

hr{
    margin-left: 5%;
    margin-right: 5%;
}

li{
    font-size: 20PX;
}

.contenedor{
    width: 100%;
    min-height: 80.4vh;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
    align-self: baseline;
}

.header{
    padding: 30px;
    padding-top: 15px;
    background-image: linear-gradient(to top, rgba(10, 13, 150, 0.4) 0%, rgba(12, 69, 192, 0.4) 100%), url(../img/laptop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
}

.contenedor-head{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.menu-navegacion{
    position:fixed;
    top: 0;
    right: 0;
    width: 100px;
    height: 114px;
    background-image: linear-gradient(-225deg, #0b0470 0%, #083596 48%, #042170 100%);
    display: inline-block;
    align-items: center;
    box-shadow: 0 0 6px rgba(0, 0, 0,.5);
}

.menu-navegacion a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.menu-navegacion a:hover{
    background-color: #0a47ca;
    text-decoration: underline;
}

.titulo{
    position: inherit;
    font-size: 60px;

}

.copy{
    font-weight: 300;
    font-size: 25px;
}

.subtitulo{
    text-align: center;
    font-weight: 300;
    color: #0b0470;
    margin-bottom: 40px;
    font-size: 40px;
}

.texto {
    padding-top: 25px;
    align-items: center;
    text-align: center;
}

.texto-bio{
    padding-top: 25px;
    margin-left: 10%;
}

.texto-bio p{
    padding-bottom: 15px;
}

.texto p{
    font-size: 20px;
}

.svg{
    width: 350px;
}

.autor{
    width: 150px;
}

.footer{
    color: rgb(255, 255, 255);
    text-align: center;
    align-self: flex-end;
    background-image: linear-gradient(-225deg, #0b0470 0%, #083596 48%, #042170 100%);
    line-height: 3;
    width: 100%;
    
}

.videos{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contenido-videos {
    width: 90%;
}

.videos iframe{
    width: 100%;
    padding: 10px;
}

.videos a{
    text-decoration: none;
}